@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}
@font-face {
	font-family: 'Lexend';
	src: url('/fonts/Lexend-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	@apply scroll-smooth;
}

body {
	@apply bg-zinc-900 text-zinc-400 antialiased leading-relaxed;
}
